@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: black;
    font-family: 'Freesentation-9Black', 'Serif', 'Sans-serif';
}
.netflix-logo {
    width: 100px;
}
.nav-background {
    background-color: black;
}
.nav-font-color {
    color: white;
}

.nav-link:hover {
    color: rgb(238, 0, 0);
}