body {
    background-color: black;
}
.netflix-logo {
    width: 100px;
}
.nav-background {
    background-color: black;
}
.nav-font-color {
    color: white;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}